<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'/>
  </head>
  <body>
    <div class='container'>
      <h1 id='main-header'>Welcome to <%= title %></h1>

      <form method='POST', action="/">

        <input id='title-field' type='text' class='form-control' name='title' placeholder='Title' >

        <input id='description-field' type='text' class='form-control' name='description' placeholder='Description'>

        <button id='submit-button' type='submit'class='btn btn-primary'>Add New Task</button>
      </form>

      <div class='column'>
        <h1>Open Tasks</h1>
        <% for(var i=0; i < tasks.length; i++) { %>
          <div class='row'>
            <% if(tasks[i].status == false) { %>
              <div class="card card-inverse" style="background-color: rgb(179, 179, 179); margin-right:5%; border-radius:10px">
                <div class="card-block">
                  <h3 style='padding-top:10px; padding-left:10px'><%= tasks[i].title %></h3>
                  <p style='padding-top:10px; padding-left:10px'><%= tasks[i].description %></p>
                      
                  <button class='btn btn-primary' onclick="changeTaskStatus('<%= tasks[i]._id %>')" style='margin-bottom:10px; margin-left:10px'>Mark as Done</button>
                  <button class='btn btn-primary' onclick="goToTaskDetailsPage('<%= tasks[i]._id %>')" style='margin-bottom:10px; margin-left:10px'>Edit</button>
                </div>
              </div>
            <% } %>
          </div> 
        <% } %>
      </div>

      <div class='column'>
        <h1>Finished Tasks</h1>
        <% for(var i=0; i < tasks.length; i++) { %>
          <div class='row'>
            <% if(tasks[i].status == true) { %>
              <div class="card card-inverse" style="background-color: rgb(179, 179, 179); margin-left:5%; border-radius:10px">
                  <div class="card-block">
                    <h3 style='padding-top:10px; padding-left:10px'><%= tasks[i].title %></h3>
                    <p style='padding-top:10px; padding-left:10px'><%= tasks[i].description %></p>

                    <button class='btn btn-primary' onclick="" style='margin-left:10px; margin-bottom:10px'>Remove</button>
                  </div>
                </div>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>

    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <script>
      function goToTaskDetailsPage(id) {
        window.location='/' + id;
      }
    </script>
  </body>
</html>
