<div id="messages">
<% Object.keys(messages).forEach(function (type) { %>
    <ul class="<%= type %>">
    <% messages[type].forEach(function (message) { %>
        <%= console.log('AQUI!') %>
        <li><%= message %></li> 
       <!-- <div class='alert alert-<%= type %>'><%= >message %></div> -->
    <% }) %>
    </ul>
<% }) %>
</div>